@charset "utf-8";



h2{
	
	text-align: center;
	padding: 60px;	
	text-transform: uppercase;
	font-weight: 2000;
}


#formulario-cad{
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 425px; 
	padding: 10px;
	font-weight: 3000;
}

*{
	font-family: 'Ubuntu', sans-serif;
	
	
}
#pname{
	font-weight: 1000;
}


body{

	background-color: #d3d3d3;

}

button{
	width: 150px;
	margin: 50px 0px 0px 475px;
	font-weight: 1000;
	
}

#bvoltar{
	width: 150px;
	margin: 50px 0px 0px 475px;
	font-weight: 1000;
}
