@charset "utf-8";



h2{
	
	text-align: center;
	padding: 60px;	
	text-transform: uppercase;
}


#formulario-cad{
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 425px; 
	padding: 10px;
}

*{
	font-family: Arial, Helvetica;
	
	
}


body{

	background-color: #d3d3d3;

}

button{
	width: 150px;
	margin: 50px 0px 0px 475px;
	
	
}

#bvoltar{
	width: 150px;
	margin: 50px 0px 0px 475px;
}
