/* page contatos css */
@charset "utf-8";

#container-table{
	
	width: 1050px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	
}

.theader{
	height: 50px;
	padding: 0px 215px 0px 0px;
	text-transform: uppercase;
	
	
}

.theader-right{
	text-transform: uppercase;
	height: 50px;
	
}

.infotable{
	vertical-align: center;
	 
	
	
}

#tabela-contato{
	border: 1px solid transparent;
	border-spacing: 5px;
	padding: 5px;
	
}

#tabela-contato td{
	padding-left: 3px;
	height: 40px;
	text-transform: uppercase;
	background-color: ;
}

#tabela-contato tr{
	padding: 10px;
	
}

#botao-cadastrar{
	margin: 95px 0px 0px 250px;	
	
	
}


body{

	background-color: #d3d3d3;

}


*{
	font-family: Arial, Helvetica;
	
}





