<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgramaPassagemTurno</title>
    <link href="~/lib/font-awesome/dist/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/coreui/dist/css/core-ui.css" />
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <!-- Menu Horizontal -->
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>&nbsp;&nbsp;&nbsp;
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding-right: 30px;">
                    <i class="fas fa-user-circle fa-fw fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" id="btnLogout"><i class="fas fa-sign-out-alt"></i>Sair</a>
                </div>
            </li>
        </ul>
    </header>
    <!-- MENU LATERAL ESQUERDO -->
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href='@Url.Action("Index")'><i class="fas fa-home fa-fw"></i>Home</a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button" id="buttonMinimizeMenu"></button>
        </div>
        <!-- Main content -->
        <main class="main">
            <div class="container-fluid" style="margin-top: 3em;">
                <div class="animated fadeIn">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <footer class="app-footer">
        <span style="padding-left:15px; float:right;"><a href="" target="_blank">Caixa Economica Federal</a> © Copyright @DateTime.Today.Year</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/coreui/dist/js/core-ui.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>