@charset "utf-8";
.container {
    background-color: #0039ba;
    height: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
}

.nav-logo {
    margin-top: 2px;
    margin-left: 250px;
}

h2 {
    text-align: center;
    padding: 60px;
    text-transform: uppercase;
}

#formulario-cad {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 425px;
    padding: 10px;
}

* {
    font-family: Arial, Helvetica;
}

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav#menu li {
    display: inline-block;
    margin: 6px;
    padding: 20px;
    transition: background-color 0.5s;
}

nav#menu li:hover {
    background-color: #cacaca;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    color: black;
}

body {
    background-color: #d3d3d3;
}

button {
    width: 150px;
    margin: 50px 0px 0px 425px;
}

#bvoltar {
    width: 150px;
    margin: 50px 0px 0px 30px;
    background-color: green;
    color: honeydew;
}

footer {
    padding: 10px;
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: 99%;
    box-sizing: border-box;
    height: 50px;
}